form {
  width: 500px;
  height: 700px;
  border: 1px solid green;
  margin-top: 150px;
  padding-top: 50px;
  padding-left: 50px;
}

.input-pole{
  width: 200px;
  height: 40px;
  border: 1px solid gray;
  margin-bottom: 50px;
  display: block;
}

.label{
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.input-but{
  font-size: 30px;
  background-color: skyblue;
  padding: 15px;
}